@import "../variable";
@mixin dot-left-position($default-left, $left320, $left375, $left412, $left450, $left500, $left576, $left768, $left992, $left1200, $left1400) {
    left: $default-left;
    @media (min-width: 320px) {
        left: $left320;
    }
    @media (min-width: 375px) {
        left: $left375;
    }
    @media (min-width: 412px) {
        left: $left412;
    }
    @media (min-width: 450px) {
        left: $left450;
    }
    @media (min-width: 500px) {
        left: $left500;
    }
    @media (min-width: $tablet-min-width) {
        left: $left576;
    }
    @media (min-width: $tablet-min-width-1) {
        left: $left768;
    }
    @media (min-width: $desktop-min-width) {
        left: $left992;
    }
    @media (min-width: $desktop-min-width-1) {
        left: $left1200;
    }
    @media (min-width: $desktop-min-width-2) {
        left: $left1400;
    }
}
@mixin dot-top-position($default-top, $top320, $top375, $top412, $top450, $top500, $top576, $top768, $top992, $top1200, $top1400) {
    top: $default-top;
    @media (min-width: 320px) {
        top: $top320;
    }
    @media (min-width: 375px) {
        top: $top375;
    }
    @media (min-width: 412px) {
        top: $top412;
    }
    @media (min-width: 450px) {
        top: $top450;
    }
    @media (min-width: 500px) {
        top: $top500;
    }
    @media (min-width: $tablet-min-width) {
        top: $top576;
    }
    @media (min-width: $tablet-min-width-1) {
        top: $top768;
    }
    @media (min-width: $desktop-min-width) {
        top: $top992;
    }
    @media (min-width: $desktop-min-width-1) {
        top: $top1200;
    }
    @media (min-width: $desktop-min-width-2) {
        top: $top1400;
    }
}
.bodychart {
    background-image: url("../../public/bodychart_bg.jpg");
    position: relative;
    margin-bottom: 100px;
    .image_wrapper {
        @media (min-width: $tablet-min-width-1) {
            width: 74.5%;
            margin: auto;
        }
        @media (min-width: $desktop-min-width) {
            width: 55.4%;
        }
        @media (min-width: $desktop-min-width-1) {
            width: 46.5%;
        }
        @media (min-width: $desktop-min-width-2) {
            width: 40%;
        }
        img {
            display: block;
        }
    }
    .dots {
        position: absolute;
        height: 12px;
        width: 12px;
        &.hide {
            display: none;
        }
        img {
            display: block;
            width: inherit;
            height: inherit;
        }
        &#dot0 {
            @include dot-left-position(46.4%, 46.7%, 47%, 47.2%, 47.2%, 47.2%, 47.4%, 48.05%, 48.6%, 48.8%, 49%);
            top: 15.2%;
        }
        &#dot1 {
            @include dot-left-position(33.4%, 33.4%, 34.4%, 34.8%, 35%, 35%, 35%, 39%, 41.7%, 43%, 44%);
            top: 19.5%;
        }
        &#dot2 {
            @include dot-left-position(46.4%, 46.7%, 47%, 47.2%, 47.2%, 47.2%, 47.4%, 48.05%, 48.6%, 48.8%, 49%);
            top: 24.2%;
        }
        &#dot3 {
            @include dot-left-position(65%, 64.7%, 65%, 65%, 65%, 65%, 65.1%, 61.2%, 58.4%, 57%, 56%);
            top: 25.2%;
        }
        &#dot4 {
            @include dot-left-position(23%, 23.6%, 24%, 24%, 24%, 24.5%, 24.5%, 31%, 36%, 38%, 39.8%);
            top: 32.2%;
        }
        &#dot5 {
            @include dot-left-position(46.4%, 46.7%, 47%, 47.2%, 47.2%, 47.2%, 47.4%, 48.05%, 48.6%, 48.8%, 49%);
            top: 37.5%;
        }
        &#dot6 {
            @include dot-left-position(76.5%, 76.5%, 76.5%, 76.5%, 76.5%, 76.5%, 76.5%, 69.8%, 64.8%, 62.4%, 60.6%);
            top: 38%;
        }
        &#dot7 {
            @include dot-left-position(50.5%, 50.5%, 50.5%, 50.5%, 50.5%, 50.8%, 50.8%, 50.8%, 50.8%, 50.5%, 50.5%);
            top: 41%;
        }
        &#dot8 {
            @include dot-left-position(85.5%, 85.5%, 85.5%, 85.5%, 85.5%, 85.5%, 86%, 76.5%, 69.7%, 66.3%, 64.3%);
            top: 44%;
        }
        &#dot9 {
            @include dot-left-position(11%, 11.5%, 11.8%, 12%, 12.5%, 12.8%, 13%, 22.5%, 29.5%, 32.8%, 35.15%);
            top: 44.5%;
        }
        &#dot10 {
            @include dot-left-position(54.5%, 54.5%, 55%, 55.5%, 56%, 56%, 56%, 54.8%, 53.4%, 52.9%, 52.5%);
            top: 45%;
        }
        &#dot11 {
            @include dot-left-position(55.3%, 55.6%, 55.7%, 56%, 56%, 56.25%, 56.3%, 54.7%, 53.5%, 52.9%, 52.5%);
            top: 57%;
        }
        &#dot12 {
            @include dot-left-position(41.7%, 41.7%, 42%, 42.3%, 42.8%, 42.8%, 43%, 44.8%, 46.2%, 46.7%, 47.1%);
            @include dot-top-position(68%, 68.5%, 68.5%, 68.8%, 68.8%, 68.8%, 68.8%, 68.8%, 68.8%, 68.8%, 68.8%);
        }
        &#dot13 {
            @include dot-left-position(53.5%, 53.5%, 54%, 54%, 54.1%, 54.1%, 54.3%, 53.3%, 52.4%, 52%, 51.7%);
            top: 81%;
        }
        &#dot14 {
            @include dot-left-position(42.5%, 42.5%, 42.5%, 42.8%, 43%, 43.5%, 43.5%, 45%, 46.3%, 46.9%, 47.4%);
            @include dot-top-position(86%, 87%, 87%, 88%, 88%, 88%, 88%, 88%, 88%, 88%, 88%);
        }
        &#dot15 {
            @include dot-left-position(41.5%, 42.5%, 42.5%, 42.5%, 42.5%, 43%, 43%, 44.8%, 46%, 46.8%, 47.2%);
            @include dot-top-position(91.5%, 91.5%,91.5%, 91.5%, 91.5%, 91.7%, 91.7%, 91.7%, 91.7%, 91.7%, 91.7%);
        }
    }

    .shining_dots {
        // display: none;
        position: absolute;
        height: 30px;
        width: 30px;
        &.show {
            display: block;
        }
        &::before {
            content: "";
            position: absolute;
            background-image: url("../../public/blue_dot.png");
            height: 12px;
            width: 12px;
        }
        &::after {
            content: "";
            position: absolute;
            height: auto;
            border-top: 4px solid $lightblue;
        }
        img {
            display: block;
            width: inherit;
            height: inherit;
            position: relative;
            z-index: 1;
        }
        &#shining_dot0 {
            @include dot-top-position(13.2%, 13.4%, 13.5%, 13.8%, 13.8%, 14.1%, 14.1%, 14.1%, 14%, 14.1%, 14.1%);
            @include dot-left-position(43.5%, 44.3%, 44.6%, 45%, 45.4%, 45.6%, 45.7%, 46.7%, 47.7%, 48.1%, 48.4%);
            &::before {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    top: 9px;
                    left: 123px;
                }
                @media (min-width: $desktop-min-width-1) {
                    left: 203px;
                }
                @media (min-width: $desktop-min-width-2) {
                    left: 223px;
                }
            }
            &::after {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    width: 100px;
                    top: 45.2%;
                    left: 24px;
                }
                @media (min-width: $desktop-min-width-1) {
                    width: 180px;
                }
                @media (min-width: $desktop-min-width-2) {
                    width: 200px;
                }

            }
        }
        &#shining_dot1 {
            @include dot-top-position(17.2%, 17.5%, 17.7%, 18%, 18.3%, 18.3%, 18.3%, 18.4%, 18.4%, 18.4%, 18.4%);
            @include dot-left-position(30.5%, 30.8%, 31.8%, 33%, 33.2%, 33.3%, 33.3%, 37.7%, 40.7%, 42.25%, 43.4%);
            &::before {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    top: 9px;
                    right: 123px;
                }
                @media (min-width: $desktop-min-width-1) {
                    right: 203px;
                }
                @media (min-width: $desktop-min-width-2) {
                    right: 223px;
                }
            }
            &::after {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    width: 100px;
                    top: 45.2%;
                    right: 24px;
                }
                @media (min-width: $desktop-min-width-1) {
                    width: 180px;
                }
                @media (min-width: $desktop-min-width-2) {
                    width: 200px;
                }

            }
        }
        &#shining_dot2 {
            @include dot-top-position(21.9%, 22.2%, 22.4%, 22.7%, 22.9%, 22.9%, 22.9%, 22.9%, 22.9%, 22.9%, 22.9%);
            @include dot-left-position(43.5%, 44.3%, 44.6%, 45%, 45.4%, 45.6%, 45.7%, 46.7%, 47.7%, 48.1%, 48.4%);
            &::before {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    top: 9px;
                    left: 123px;
                }
                @media (min-width: $desktop-min-width-1) {
                    left: 203px;
                }
                @media (min-width: $desktop-min-width-2) {
                    left: 223px;
                }
            }
            &::after {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    width: 100px;
                    top: 45.2%;
                    left: 24px;
                }
                @media (min-width: $desktop-min-width-1) {
                    width: 180px;
                }
                @media (min-width: $desktop-min-width-2) {
                    width: 200px;
                }

            }
        }
        &#shining_dot3 {
            @include dot-top-position(23.2%, 23.5%, 23.5%, 23.5%, 23.9%, 24%, 24%, 24%, 24%, 23.9%, 23.9%);
            @include dot-left-position(62%, 62.3%, 62.6%, 63%, 63.2%, 63.3%, 63.3%, 59.9%, 57.5%, 56.2%, 55.3%);
            &::before {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    top: 9px;
                    left: 123px;
                }
                @media (min-width: $desktop-min-width-1) {
                    left: 203px;
                }
                @media (min-width: $desktop-min-width-2) {
                    left: 223px;
                }
            }
            &::after {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    width: 100px;
                    top: 45.2%;
                    left: 24px;
                }
                @media (min-width: $desktop-min-width-1) {
                    width: 180px;
                }
                @media (min-width: $desktop-min-width-2) {
                    width: 200px;
                }

            }
        }
        &#shining_dot4 {
            @include dot-top-position(30%, 30.3%, 30.3%, 30.6%, 30.8%, 31%, 31%, 31%, 31%, 31%, 31%);
            @include dot-left-position(19.8%, 20.8%, 21.6%, 21.6%, 22%, 23%, 22.8%, 29.7%, 35%, 37.2%, 39.1%);
            &::before {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    top: 9px;
                    right: 123px;
                }
                @media (min-width: $desktop-min-width-1) {
                    right: 203px;
                }
                @media (min-width: $desktop-min-width-2) {
                    right: 223px;
                }
            }
            &::after {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    width: 100px;
                    top: 45.2%;
                    right: 24px;
                }
                @media (min-width: $desktop-min-width-1) {
                    width: 180px;
                }
                @media (min-width: $desktop-min-width-2) {
                    width: 200px;
                }

            }
        }
        &#shining_dot5 {
            @include dot-top-position(35.4%, 35.8%, 35.8%, 35.9%, 36.2%, 36.3%, 36.2%, 36.3%, 36.2%, 36.3%, 36.3%);
            @include dot-left-position(43.5%, 44.3%, 44.6%, 45%, 45.4%, 45.6%, 45.7%, 46.7%, 47.7%, 48.1%, 48.4%);
            &::before {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    top: 9px;
                    left: 123px;
                }
                @media (min-width: $desktop-min-width-1) {
                    left: 203px;
                }
                @media (min-width: $desktop-min-width-2) {
                    left: 223px;
                }
            }
            &::after {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    width: 100px;
                    top: 45.2%;
                    left: 24px;
                }
                @media (min-width: $desktop-min-width-1) {
                    width: 180px;
                }
                @media (min-width: $desktop-min-width-2) {
                    width: 200px;
                }

            }
        }
        &#shining_dot6 {
            @include dot-top-position(35.8%, 36%, 36.3%, 36.5%, 36.5%, 36.7%, 36.7%, 36.7%, 36.7%, 36.7%, 36.7%);
            @include dot-left-position(73.3%, 73.6%, 74%, 74.2%, 74.5%, 74.5%, 74.8%, 68.5%, 63.8%, 61.6%, 60%);
            &::before {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    top: 9px;
                    left: 123px;
                }
                @media (min-width: $desktop-min-width-1) {
                    left: 203px;
                }
                @media (min-width: $desktop-min-width-2) {
                    left: 223px;
                }
            }
            &::after {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    width: 100px;
                    top: 45.2%;
                    left: 24px;
                }
                @media (min-width: $desktop-min-width-1) {
                    width: 180px;
                }
                @media (min-width: $desktop-min-width-2) {
                    width: 200px;
                }

            }
        }
        &#shining_dot7 {
            @include dot-top-position(39%, 39%, 39.2%, 39.5%, 39.5%, 39.8%, 39.8%, 39.9%, 39.9%, 39.9%, 39.8%);
            @include dot-left-position(47.5%, 47.5%, 48%, 48.5%, 48.5%, 49%, 49%, 49.5%, 49.8%, 49.7%, 49.8%);
            &::before {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    top: 9px;
                    left: 123px;
                }
                @media (min-width: $desktop-min-width-1) {
                    left: 203px;
                }
                @media (min-width: $desktop-min-width-2) {
                    left: 223px;
                }
            }
            &::after {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    width: 100px;
                    top: 45.2%;
                    left: 24px;
                }
                @media (min-width: $desktop-min-width-1) {
                    width: 180px;
                }
                @media (min-width: $desktop-min-width-2) {
                    width: 200px;
                }

            }
        }
        &#shining_dot8 {
            @include dot-top-position(41.7%, 42.1%, 42.4%, 42.4%, 42.7%, 42.7%, 42.9%, 42.8%, 42.8%, 42.8%, 42.8%);
            @include dot-left-position(82.3%, 82.9%, 83%, 83.5%, 83.5%, 83.9%, 84.3%, 75.1%, 68.7%, 65.5%, 63.6%);
            &::before {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    top: 9px;
                    left: 123px;
                }
                @media (min-width: $desktop-min-width-1) {
                    left: 203px;
                }
                @media (min-width: $desktop-min-width-2) {
                    left: 223px;
                }
            }
            &::after {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    width: 100px;
                    top: 45.2%;
                    left: 24px;
                }
                @media (min-width: $desktop-min-width-1) {
                    width: 180px;
                }
                @media (min-width: $desktop-min-width-2) {
                    width: 200px;
                }

            }
        }
        &#shining_dot9 {
            @include dot-top-position(42.2%, 42.5%, 42.9%, 42.9%, 43.3%, 43.3%, 43.3%, 43.3%, 43.3%, 43.3%, 43.3%);
            @include dot-left-position(8%, 8.5%, 9.5%, 10%, 10.5%, 11%, 11.5%, 21.3%, 28.6%, 32%, 34.5%);
            &::before {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    top: 9px;
                    right: 123px;
                }
                @media (min-width: $desktop-min-width-1) {
                    right: 203px;
                }
                @media (min-width: $desktop-min-width-2) {
                    right: 223px;
                }
            }
            &::after {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    width: 100px;
                    top: 45.2%;
                    right: 24px;
                }
                @media (min-width: $desktop-min-width-1) {
                    width: 180px;
                }
                @media (min-width: $desktop-min-width-2) {
                    width: 200px;
                }

            }
        }
        &#shining_dot10 {
            @include dot-top-position(42.8%, 43.2%, 43.4%, 43.4%, 43.6%, 43.9%, 43.8%, 43.8%, 43.8%, 43.8%, 43.8%);
            @include dot-left-position(51.5%, 51.9%, 52.4%, 53.4%, 54.1%, 54.2%, 54.2%, 53.6%, 52.6%, 52.2%, 51.8%);
            &::before {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    top: 9px;
                    left: 123px;
                }
                @media (min-width: $desktop-min-width-1) {
                    left: 203px;
                }
                @media (min-width: $desktop-min-width-2) {
                    left: 223px;
                }
            }
            &::after {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    width: 100px;
                    top: 45.2%;
                    left: 24px;
                }
                @media (min-width: $desktop-min-width-1) {
                    width: 180px;
                }
                @media (min-width: $desktop-min-width-2) {
                    width: 200px;
                }

            }
        }
        &#shining_dot11 {
            @include dot-top-position(30.2%, 30.4%, 30.5%, 30.8%, 30.8%, 30.1%, 30.1%, 30.1%, 30%, 30.1%, 30.1%);
            @include dot-left-position(43.5%, 44.3%, 44.6%, 45%, 45.4%, 45.6%, 45.7%, 46.7%, 47.7%, 48.1%, 48.4%);
            &::before {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    top: 9px;
                    left: 123px;
                }
                @media (min-width: $desktop-min-width-1) {
                    left: 203px;
                }
                @media (min-width: $desktop-min-width-2) {
                    left: 223px;
                }
            }
            &::after {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    width: 100px;
                    top: 45.2%;
                    left: 24px;
                }
                @media (min-width: $desktop-min-width-1) {
                    width: 180px;
                }
                @media (min-width: $desktop-min-width-2) {
                    width: 200px;
                }

            }
        }
        &#shining_dot12 {
            @include dot-top-position(13.2%, 13.4%, 13.5%, 13.8%, 13.8%, 14.1%, 14.1%, 14.1%, 14%, 14.1%, 14.1%);
            @include dot-left-position(43.5%, 44.3%, 44.6%, 45%, 45.4%, 45.6%, 45.7%, 46.7%, 47.7%, 48.1%, 48.4%);
            &::before {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    top: 9px;
                    left: 123px;
                }
                @media (min-width: $desktop-min-width-1) {
                    left: 203px;
                }
                @media (min-width: $desktop-min-width-2) {
                    left: 223px;
                }
            }
            &::after {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    width: 100px;
                    top: 45.2%;
                    left: 24px;
                }
                @media (min-width: $desktop-min-width-1) {
                    width: 180px;
                }
                @media (min-width: $desktop-min-width-2) {
                    width: 200px;
                }

            }
        }
        &#shining_dot13 {
            @include dot-top-position(30.2%, 30.4%, 30.5%, 30.8%, 30.8%, 30.1%, 30.1%, 30.1%, 30%, 30.1%, 30.1%);
            @include dot-left-position(43.5%, 44.3%, 44.6%, 45%, 45.4%, 45.6%, 45.7%, 46.7%, 47.7%, 48.1%, 48.4%);
            &::before {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    top: 9px;
                    left: 123px;
                }
                @media (min-width: $desktop-min-width-1) {
                    left: 203px;
                }
                @media (min-width: $desktop-min-width-2) {
                    left: 223px;
                }
            }
            &::after {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    width: 100px;
                    top: 45.2%;
                    left: 24px;
                }
                @media (min-width: $desktop-min-width-1) {
                    width: 180px;
                }
                @media (min-width: $desktop-min-width-2) {
                    width: 200px;
                }

            }
        }
        &#shining_dot14 {
            @include dot-top-position(13.2%, 13.4%, 13.5%, 13.8%, 13.8%, 14.1%, 14.1%, 14.1%, 14%, 14.1%, 14.1%);
            @include dot-left-position(43.5%, 44.3%, 44.6%, 45%, 45.4%, 45.6%, 45.7%, 46.7%, 47.7%, 48.1%, 48.4%);
            &::before {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    top: 9px;
                    left: 123px;
                }
                @media (min-width: $desktop-min-width-1) {
                    left: 203px;
                }
                @media (min-width: $desktop-min-width-2) {
                    left: 223px;
                }
            }
            &::after {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    width: 100px;
                    top: 45.2%;
                    left: 24px;
                }
                @media (min-width: $desktop-min-width-1) {
                    width: 180px;
                }
                @media (min-width: $desktop-min-width-2) {
                    width: 200px;
                }

            }
        }
        &#shining_dot15 {
            @include dot-top-position(30.2%, 30.4%, 30.5%, 30.8%, 30.8%, 30.1%, 30.1%, 30.1%, 30%, 30.1%, 30.1%);
            @include dot-left-position(43.5%, 44.3%, 44.6%, 45%, 45.4%, 45.6%, 45.7%, 46.7%, 47.7%, 48.1%, 48.4%);
            &::before {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    top: 9px;
                    left: 123px;
                }
                @media (min-width: $desktop-min-width-1) {
                    left: 203px;
                }
                @media (min-width: $desktop-min-width-2) {
                    left: 223px;
                }
            }
            &::after {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    width: 100px;
                    top: 45.2%;
                    left: 24px;
                }
                @media (min-width: $desktop-min-width-1) {
                    width: 180px;
                }
                @media (min-width: $desktop-min-width-2) {
                    width: 200px;
                }

            }
        }
    }

    .textboxs {
        display: none;
        position: absolute;
        z-index: 1;
        color: white;
        background-color: $black;
        border: 2px solid $white;
        border-radius: 5px;
        padding: 10px 20px;
        width: 90%;
        max-width: 300px;
        @media (min-width: $desktop-min-width) {
            background-color: unset;
            border: none;
            padding: 0;
        }
        &.show {
            display: block;
        }
        .title {
            font-size: 30px;
            line-height: 1.5;
        }
        .description {
            font-size: 16px;
            line-height: 1.3;
        }
        &#box0 {
            top: 30%;
            left: 0;
            right: 0;
            margin: auto;
            @media (min-width: 375px) {
            
            }
            @media (min-width: 412px) {
             
            }
            @media (min-width: $tablet-min-width) {
              
            }
            @media (min-width: $tablet-min-width-1) {
                
            }
            @media (min-width: $desktop-min-width) {
                top: 7%;
                left: unset;
                right: 4%;
                margin: unset;
            }
            @media (min-width: $desktop-min-width-1) {
                top: 7%;
                right: 4%;
            }
            @media (min-width: $desktop-min-width-2) {
                top: 7%;
                right: 7%;
            }
        }
        &#box1 {
            top: 30%;
            left: 0;
            right: 0;
            margin: auto;
            @media (min-width: 375px) {
            
            }
            @media (min-width: 412px) {
             
            }
            @media (min-width: $tablet-min-width) {
              
            }
            @media (min-width: $tablet-min-width-1) {
                
            }
            @media (min-width: $desktop-min-width) {
                top: 7%;
                left: unset;
                right: 4%;
                margin: unset;
            }
            @media (min-width: $desktop-min-width-1) {
                top: 7%;
                right: 4%;
            }
            @media (min-width: $desktop-min-width-2) {
                top: 7%;
                right: 7%;
            }
        }
    }
}