@import "../variable";
@mixin dot-left-position($default-left, $left320, $left375, $left412, $left450, $left500, $left576, $left768, $left992, $left1200, $left1400) {
    left: $default-left;
    @media (min-width: 320px) {
        left: $left320;
    }
    @media (min-width: 375px) {
        left: $left375;
    }
    @media (min-width: 412px) {
        left: $left412;
    }
    @media (min-width: 450px) {
        left: $left450;
    }
    @media (min-width: 500px) {
        left: $left500;
    }
    @media (min-width: $tablet-min-width) {
        left: $left576;
    }
    @media (min-width: $tablet-min-width-1) {
        left: $left768;
    }
    @media (min-width: $desktop-min-width) {
        left: $left992;
    }
    @media (min-width: $desktop-min-width-1) {
        left: $left1200;
    }
    @media (min-width: $desktop-min-width-2) {
        left: $left1400;
    }
}
@mixin dot-top-position($default-top, $top320, $top375, $top412, $top450, $top500, $top576, $top768, $top992, $top1200, $top1400) {
    top: $default-top;
    @media (min-width: 320px) {
        top: $top320;
    }
    @media (min-width: 375px) {
        top: $top375;
    }
    @media (min-width: 412px) {
        top: $top412;
    }
    @media (min-width: 450px) {
        top: $top450;
    }
    @media (min-width: 500px) {
        top: $top500;
    }
    @media (min-width: $tablet-min-width) {
        top: $top576;
    }
    @media (min-width: $tablet-min-width-1) {
        top: $top768;
    }
    @media (min-width: $desktop-min-width) {
        top: $top992;
    }
    @media (min-width: $desktop-min-width-1) {
        top: $top1200;
    }
    @media (min-width: $desktop-min-width-2) {
        top: $top1400;
    }
}
.bodychart {
    background-image: url("../../public/bodychart_bg.jpg");
    position: relative;
    margin-bottom: 100px;
    .image_wrapper {
        @media (min-width: $tablet-min-width-1) {
            width: 74.5%;
            margin: auto;
        }
        @media (min-width: $desktop-min-width) {
            width: 55.4%;
        }
        @media (min-width: $desktop-min-width-1) {
            width: 46.5%;
        }
        @media (min-width: $desktop-min-width-2) {
            width: 40%;
        }
        img {
            display: block;
        }
    }
    .dots {
        position: absolute;
        height: 12px;
        width: 12px;
        &.hide {
            display: none;
        }
        img {
            display: block;
            width: inherit;
            height: inherit;
        }
        &#dot0 {
            @include dot-left-position(46.4%, 46.7%, 47%, 47.2%, 47.2%, 47.2%, 47.4%, 48.05%, 48.6%, 48.8%, 49%);
            top: 15.2%;
        }
        &#dot1 {
            @include dot-left-position(46.4%, 46.7%, 47%, 47.2%, 47.2%, 47.2%, 47.4%, 48.05%, 48.6%, 48.8%, 49%);
            top: 30.2%;
        }
    }

    .shining_dots {
        display: none;
        position: absolute;
        height: 30px;
        width: 30px;
        &.show {
            display: block;
        }
        &::before {
            content: "";
            position: absolute;
            background-image: url("../../public/blue_dot.png");
            height: 12px;
            width: 12px;
        }
        &::after {
            content: "";
            position: absolute;
            height: auto;
            border-top: 4px solid $lightblue;
        }
        img {
            display: block;
            width: inherit;
            height: inherit;
            position: relative;
            z-index: 1;
        }
        &#shining_dot0 {
            @include dot-top-position(13.2%, 13.4%, 13.5%, 13.8%, 13.8%, 14.1%, 14.1%, 14.1%, 14%, 14.1%, 14.1%);
            @include dot-left-position(43.5%, 44.3%, 44.6%, 45%, 45.4%, 45.6%, 45.7%, 46.7%, 47.7%, 48.1%, 48.4%);
            &::before {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    top: 9px;
                    left: 123px;
                }
                @media (min-width: $desktop-min-width-1) {
                    left: 203px;
                }
                @media (min-width: $desktop-min-width-2) {
                    left: 223px;
                }
            }
            &::after {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    width: 100px;
                    top: 45.2%;
                    left: 24px;
                }
                @media (min-width: $desktop-min-width-1) {
                    width: 180px;
                }
                @media (min-width: $desktop-min-width-2) {
                    width: 200px;
                }

            }
        }
        &#shining_dot1 {
            @include dot-top-position(30.2%, 30.4%, 30.5%, 30.8%, 30.8%, 30.1%, 30.1%, 30.1%, 30%, 30.1%, 30.1%);
            @include dot-left-position(43.5%, 44.3%, 44.6%, 45%, 45.4%, 45.6%, 45.7%, 46.7%, 47.7%, 48.1%, 48.4%);
            &::before {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    top: 9px;
                    left: 123px;
                }
                @media (min-width: $desktop-min-width-1) {
                    left: 203px;
                }
                @media (min-width: $desktop-min-width-2) {
                    left: 223px;
                }
            }
            &::after {
                display: none;
                @media (min-width: $desktop-min-width) {
                    display: block;
                    width: 100px;
                    top: 45.2%;
                    left: 24px;
                }
                @media (min-width: $desktop-min-width-1) {
                    width: 180px;
                }
                @media (min-width: $desktop-min-width-2) {
                    width: 200px;
                }

            }
        }
    }

    .textboxs {
        display: none;
        position: absolute;
        color: white;
        background-color: $black;
        border: 2px solid $white;
        border-radius: 5px;
        padding: 10px 20px;
        width: 90%;
        max-width: 300px;
        @media (min-width: $desktop-min-width) {
            background-color: unset;
            border: none;
            padding: 0;
        }
        &.show {
            display: block;
        }
        .title {
            font-size: 30px;
            line-height: 1.5;
        }
        .description {
            font-size: 16px;
            line-height: 1.3;
        }
        &#box0 {
            top: 30%;
            left: 0;
            right: 0;
            margin: auto;
            @media (min-width: 375px) {
            
            }
            @media (min-width: 412px) {
             
            }
            @media (min-width: $tablet-min-width) {
              
            }
            @media (min-width: $tablet-min-width-1) {
                
            }
            @media (min-width: $desktop-min-width) {
                top: 7%;
                left: unset;
                right: 4%;
                margin: unset;
            }
            @media (min-width: $desktop-min-width-1) {
                top: 7%;
                right: 4%;
            }
            @media (min-width: $desktop-min-width-2) {
                top: 7%;
                right: 7%;
            }
        }
    }
}