@import "../variable";
.physiotherapists_list {
    margin-bottom: 30px;
    .members_wrapper {
        display: flex;
        flex-direction: column;
        @media (min-width: $tablet-min-width) {
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        @media (min-width: $desktop-min-width) {
            justify-content: start;
        }
        .members {
            padding: 30px 0;
            text-align: center;
            &:not(:last-child) {
                border-bottom: 1px solid grey;
                @media (min-width: $tablet-min-width) {
                    border-bottom: none;
                }
            }
            @media (min-width: $tablet-min-width) {
                display: flex;
                flex-direction: column;
                flex-basis: 48%;
            }
            @media (min-width: $desktop-min-width) {
                flex-basis: 33.333333%;
                &:nth-child(3n+1) {
                    padding-right: 1%;
                }
                &:nth-child(3n+2) {
                    padding-left: 0.5%;
                    padding-right: 0.5%;
                }
                &:nth-child(3n) {
                    padding-left: 1%;
                }
            }

            h3 {
                font-size: 20px;
                margin: 10px 0;
            }

            p {
                margin-bottom: 0;
            }

            .button {
                width: fit-content;
                margin: 0 auto;
            }
        }
    }
}