$white: #FFFFFF;
$black: #000000;
$grey: #f2f2f2;
$lightblue: #0097BD;
$blue: #0d6c8f;
$tablet-min-width: 576px;
$tablet-min-width-1: 768px;
$desktop-min-width: 992px;
$desktop-min-width-1: 1200px;
$desktop-min-width-2: 1400px;
